*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  font-size: 1.1rem;
}

#main {
  background: #eee;
  margin: 2.5vh 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  margin: 15px 0;
}

#img-div {
  margin: 15px 0;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#image {
  max-width: 1400px;
  width: 80%;
}

#img-caption {
  margin: 1vh;
  width: 95%;
  font-size: 1rem;
}

#timeline {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  justify-content: center;
  align-items: center;
  margin: 1vh 5vh;
  font-size: 1rem;
}

.bold {
  font-weight: 700;
}

#timeline > ul > li {
  margin-top: 2vh;
}

#quote {
  margin-top: 5vh;
  width: 90%;
}

#tribute-info {
  margin: 3vh 1vh;
  text-align: center;
  width: 90%;
}
